@keyframes kf-anim-spring-visible {

  0% {
    transform: translateY(100%);
  }

  15.909% {
    transform: translateY(-79.098% + 100%);
  }

  23.863% {
    transform: translateY(-99.804% + 100%);
  }

  31.818% {
    transform: translateY(-105% + 100%);
  }

  64.772% {
    transform: translateY(-99% + 100%);
  }

  97.727% {
    transform: translateY(-100.1% + 100%);
  }

  100% {
    transform: translateY(0%);
  }
}

.actionsheet-spring {
  animation: kf-anim-spring-visible .8s ease forwards;
}
